body {
margin: 0;
font-family: serif;
background-color: #d1d0ce;
color: #05386B;
}

.topnav {
overflow: hidden;
background-color: #22FFAD;
border-bottom: 3px solid #05386B;
}

.topnav a {
float: left;
color: #05386B;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-style: Sans-serif;
}

.topnav a:hover {
background-color: #05386B;
color: #22FFAD;
}

.topnav a.active {
background-color: #05386B;
color: white;
}

.topnav .search-container {
    float:left;
    border-right: 3px solid #05386B;
    padding: 4px;
    height: 40px;
    width: 270px
}
.topnav input[type=text] {
    margin-top: 5px;
    float: left;
    padding: 6px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: left;
    padding: 4px 5px;
    margin-top: 5px;
    background: #22FFAD;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    border: 1px solid #05386B;
}